<app-layout></app-layout>

<div class="containerMision">
    <div class="mision-section">
        <h1> Misión </h1>
        <div class="mision-text">
            <p>Nuestra Misión es ser una plataforma digital innovadora y confiable que brinde a nuestros visitantes acceso a
                información valiosa, entretenimiento inspirador y soluciones prácticas. Nos comprometemos a crear un espacio
                en línea donde la exploración, la interacción y el aprendizaje converjan, enriqueciendo la vida de las personas
                y empoderándolas para enfrentar los desafíos del mundo moderno. Estamos dedicados a ofrecer una experiencia
                significativa y enriquecedora a todos nuestros usuarios, proporcionándoles las herramientas y el conocimiento
                necesarios para navegar con éxito en la era digital.</p>
        </div>
    </div>
</div>