<app-layout-security></app-layout-security>

<div class="containerMedidas">
    <h1>Medidas de Seguridad en el Sitio Web</h1>
    <div class="security-section">
        <div class="security-text">
            <p>El sitio web implementa una serie de sólidas medidas de seguridad tecnológica que garantizan la protección y confidencialidad de los usuarios:</p>
            <h5> Encriptación Segura: </h5>
            <p>Se utiliza una tecnología avanzada de encriptación SSL (Secure Sockets Layer) y TLS (Transport Layer Security) para asegurar que todas las comunicaciones entre el navegador del usuario y la página web estén completamente protegidas. Esta encriptación garantiza que la información delicada, como datos personales y contraseñas, sea transmitida de manera segura y confidencial.</p>
            <h5> Actualizaciones de Software: </h5>
            <p> El equipo de desarrollo mantiene una constante actualización de los sistemas y plataformas utilizados en la página web. Esto asegura que las últimas correcciones de seguridad estén en su lugar, mitigando cualquier vulnerabilidad conocida y proporcionando una defensa efectiva contra posibles amenazas cibernéticas.</p>
            <h5> Protección contra Ataques: </h5>
            <p> Se han implementado varias capas de seguridad, incluyendo firewalls y sistemas de detección de intrusiones (IDS), así como sistemas de prevención de intrusiones (IPS). Estas medidas trabajan en conjunto para salvaguardar la página web y sus datos contra posibles ataques cibernéticos, tales como intentos de hacking y la propagación de malware. Estas salvaguardias actúan como una barrera sólida para mantener la información de los usuarios a salvo.</p>
            <h5> Control de Cookies: </h5>
            <p> Se brinda a los usuarios un control completo sobre las cookies utilizadas en la página web. Esto permite a los usuarios gestionar sus preferencias de cookies y elegir qué información se recopila, lo que contribuye a mejorar su experiencia en línea. Los usuarios tienen el poder de decidir cómo se maneja su privacidad durante su interacción con el sitio.</p>
        </div>
    </div>
</div>