<app-layout></app-layout>

<div class="containerVision">
    <div class="vision-section">
        <h1> Visión </h1>
        <div class="vision-text">
            <p>Nuestra Visión es dirigida a establecer un horizonte de excelencia en el mundo de las páginas web. Aspiramos a
                que nuestra plataforma se destaque como un referente en la creación de experiencias digitales que transforman
                vidas. Buscamos ser un espacio en línea preferido por aquellos que valoran la calidad del contenido y desean
                sumergirse en un ambiente digital enriquecedor.</p>
            <p>Esta visión está dedicada a forjar un destino donde la innovación tecnológica se entrelaza con la empatía hacia
                nuestros usuarios. Visualizamos una comunidad en línea que no solo consume, sino que colabora activamente,
                uniendo a personas de diversos orígenes y edades en una vibrante sinfonía de intercambio de ideas y
                conocimientos.</p>
        </div>
    </div>
</div>