<app-layout-security></app-layout-security>

<div class="containerPrivacidad">
    <h1>Prácticas de Privacidad Responsable</h1>
    <div class="privacy-section">
        <div class="privacy-text">
            <p>El sitio web se rige por una serie de prácticas de privacidad responsable que salvaguardan la información del usuario y respetan su privacidad:</p>
            <h5> Política de Privacidad Transparente: </h5>
            <p> La página web presenta una política de privacidad integral que detalla minuciosamente cómo se recopilan, utilizan, almacenan y protegen los datos personales del usuario. El enfoque es brindar una comprensión clara y completa sobre el manejo de la información, demostrando un compromiso sólido con la privacidad del usuario.</p>
            <h5> Gestión de Contraseñas Seguras: </h5>
            <p> Se promueve activamente la creación y uso de contraseñas sólidas. Los usuarios tienen la opción de fortalecer aún más su seguridad mediante la activación de la autenticación de dos factores (2FA). Esta característica añade una capa adicional de protección, exigiendo una verificación adicional antes de acceder a la cuenta del usuario.</p>
            <h5> Educación en Seguridad: </h5>
            <p> Se ponen a disposición de los usuarios diversos recursos y consejos relacionados con la seguridad en línea. Se aborda la identificación de correos electrónicos de phishing y se brinda información para prevenir la ingeniería social. La plataforma tiene como objetivo empoderar a los usuarios con el conocimiento necesario para protegerse de amenazas en línea.</p>
            <h5> Cumplimiento Normativo: </h5>
            <p> El sitio web se compromete a adherirse a las regulaciones de privacidad y protección de datos establecidas por las leyes aplicables. Esto incluye el respeto estricto al Reglamento General de Protección de Datos (GDPR) y a otras leyes pertinentes. Este compromiso garantiza que la seguridad y privacidad de los datos del usuario sean una prioridad primordial.</p>
        </div>
    </div>
</div>