<app-layout-design></app-layout-design>

<div class="containerDesign">
    <h1>Experiencia del Usuario (UX) y Diseño</h1>
    <div class="section">
        <div class="section-text">
            <p class="section-title">En el amplio panorama digital, la convergencia de la 
                Experiencia del Usuario (UX) y el Diseño moldea la manera en que las personas 
                interactúan, navegan y experimentan el mundo en línea. Más allá de la mera 
                apariencia visual, la UX y el Diseño operan como los arquitectos invisibles 
                que construyen vínculos entre la tecnología y la humanidad, estableciendo 
                conexiones que son simultáneamente funcionales y emocionales.</p>
            <p class="highlight">La Experiencia del Usuario (UX):</p>
            <p>En el epicentro de cada clic y desplazamiento reside la experiencia del usuario. Esta actúa como una brújula que orienta cada decisión en términos de diseño y desarrollo. La UX se centra en cómo una página web se percibe: su fluidez, accesibilidad y su habilidad para satisfacer las demandas de los visitantes. Desde la facilidad de navegación hasta la transparencia informativa, la UX se dedica a trazar un sendero exento de obstáculos para que los usuarios puedan inmersarse en el contenido y alcanzar sus metas.</p>
            <p class="highlight">El Diseño:</p>
            <p>Aquí es donde la creatividad entabla un diálogo con la funcionalidad. El diseño trasciende colores y formas atractivas; actúa como una herramienta estratégica que dirige al usuario a lo largo de su trayecto digital. Cada componente visual, desde el diseño de la página hasta íconos y botones, se dispone con precisión para mejorar la usabilidad y la comprensión. El diseño captura la esencia de la marca, comunica información visualmente y suscita emociones sutiles que enriquecen la experiencia del usuario.</p>
        </div>
    </div>
</div>