<app-layout-design></app-layout-design>

<div class="containerResponsivo">
    <h1>Diseño Responsivo: Facilitando la Inclusión y la Accesibilidad Digital</h1>
    <div class="section">
        <p class="section-title">Una página web que abraza la auténtica inclusión se adapta 
            con agilidad a una variedad de dispositivos, ofreciendo equitativo acceso a 
            todos sus usuarios. El diseño responsivo emerge como el caballero de esta misión, 
            asegurando que nuestro contenido se despliegue y funcione de forma óptima, 
            sin importar si se visualiza desde una computadora de escritorio, una tableta 
            o un teléfono móvil. Nuestra dedicación se extiende incluso más allá: se 
            procura con esmero que la página sea plenamente accesible para personas con 
            discapacidades, empleando técnicas y estándares que fomentan la interacción 
            y el disfrute del contenido por todos.</p>
    </div>
</div>